.card__wrap {
    text-align: center;
}
.card {
    width: 150px;
    height: 200px;
    border-radius: 50px;
    background-color: #fff;
    
    font-size: 60px;
    font-weight: bold;
}
.card:hover {
    background-color: #F5DF4D;
    color: #333537;
    transition: 0.3s;
}
@media(max-width:500px) {
    .card {
        width: 100px;
        height: 125px;
        border-radius: 25px;
        font-size: 30px;
    }
    .card {
        width: 50px;
        height: 75px;
        border-radius: 15px;
    }
}